.POPOSSpace {
    width: 100%;
    text-align: center;
  }
  
  .POPOSSpace > img {
    width: 100%;
    /*height: auto;*/
  }

  .POPOSSpace > .Likes > img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
  }